{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>

  <body data-url="{{ .RelPermalink }}"

  class="
  {{- with .Params.render}}render_{{.}} {{end -}}
  {{if .Params.hide_header}}hideheader {{end -}}
  {{if .Params.hide_nav}}hidenav {{end -}}
  {{if .Params.hide_breadcrumb}}hidebreadcrumb {{end -}}
  {{if .Params.hide_toc}}hidetoc {{end -}}
  {{if .Params.hide_footer}}hidefooter {{end -}}
  {{if .Params.hide_nextpage}}hidenextpage {{end -}}
  ">
<!--
<style type="text/css">
  #debug{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 3.5rem;
    margin-bottom: .35rem;
    padding: 0 2rem;
    position: fixed;
    left: 0;      right: 0;     top: 0;
   
    top:0px;
    
    min-height: 150px;

    background-color: white;
    border: 3px solid red;
    z-index: 10000 ;
    word-wrap: all;
    overflow: auto;
  }
</style>
 <pre id="debug">
  {{ printf "%#v" $redirectURL }}
</pre> 
 -->

{{ if ne $redirectURL ""}}
    <script type="text/javascript">
      window.location = '{{ $redirectURL }}'
    </script>
    <a href="{{ $redirectURL }}">go to {{ $redirectURL }}</a>
{{ else if eq .Params.render "raw" }}
      {{- .Content -}}
{{ else }}
    
    {{if not .Params.hide_header}}
    <header style="">
        {{ partial "body-header.html" . }}
    </header>
    {{end}}

    <article>
      {{if not .Params.hide_nav}}
      <aside class="{{.Params.layout }}">
        {{ partial "body-sidebar.html" . }}
      </aside>
      {{end}}

      <section class="page {{.Params.layout }}">
      {{ block "main" . }}
      {{ end }}
      </section>

      <!-- NAVIGATION DROITE TOC -->
      {{if not .Params.hide_toc}}
      <section class="right-menu {{.Params.layout }}">
      {{ block "sidepage" . }}
      {{ end }}
      </section>
      {{end -}}
      <!-- FIN NAVIGATION DROITE TOC -->
    </article>
    
    {{if not .Params.hide_footer}}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{end}}

{{end}}

  </body>
</html>
