<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head.html" . }}
  </head>
  <body data-url="{{ .RelPermalink }}">
<!-- 
<style type="text/css">
  #debug{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 3.5rem;
    margin-bottom: .35rem;
    padding: 0 2rem;
    position: fixed;
    left: 0;      right: 0;     top: 0;
   
    top:0px;
    
    min-height: 150px;

    background-color: white;
    border: 3px solid red;
    z-index: 10000 ;
    word-wrap: all;
    overflow: auto;
  }
</style>
<pre id="debug">
  {{ printf "%#v" resources }}  
</pre>
 -->

{{ if eq .Params.layout "raw" }}
      {{- .Content -}}
{{ else }}
    <header>
        {{ partial "body-header.html" . }}
    </header>

    <article>

      <aside class="{{.Params.layout }}">
        {{ partial "body-sidebar.html" . }}
      </aside>

      <section class="page {{.Params.layout }}">
      {{ block "main" . }}
      {{ end }}
      </section>

      <!-- NAVIGATION DROITE TOC -->
      <section class="right-menu {{.Params.layout }}">
      {{ block "sidepage" . }}
      {{ end }}
      </section>
      <!-- FIN NAVIGATION DROITE TOC -->

    </article>

    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
{{end}}

  </body>
</html>
