<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ if and (eq .Site.Home .) (eq "" .Site.Home.Content) }}
    <!-- when no homepage exists, redirect to first page -->
      {{with index .Site.Sections 0}}
        <meta http-equiv = "refresh" content = "0; url = {{.RelPermalink}}"/>
      {{end}}
    {{end}}

    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/html-head.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "html-head.html" . }}
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}">

    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/body-beforecontent.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "body-beforecontent.html" . }}
    {{end}}

    {{ block "main" . }}
    {{ end }}
    
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/body-aftercontent.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "body-aftercontent.html" . }}
    {{ end }}

    {{ partial "custom-footer.html" . }}
  </body>
</html>